<div class="container-big-card">
  <div class="big-card-picture">
    <img src="../../../assets/placeholder.png" alt="" />
  </div>
  <div class="big-card-title">
    <h2><a href="">Principal title item</a></h2>
  </div>
  <div class="big-card-description">
    <p>
      <a href="">
        Lorem ipsum, dolor sit amet libero accusantium evenieciendis culpa
        voluptatibus magni. Ipsam, earum saepe! Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Maxime quae ea, tenetur dignissimos
        explicabo dolore? A, magni molestiae ipsam sequi vitae dolorum velit
        nobis similique omnis dicta ea nulla dolor?
      </a>
    </p>
  </div>
</div>
