<app-header></app-header>

<app-title></app-title>

<div class="container-articles">
  <div class="articles-main">
    <app-big-card
      photoCover="../../../assets/placeholder.png"
      cardTitle="Title..."
      cardDescription="description...."
    ></app-big-card>
  </div>
  <div class="article-others">
    <app-small-card
      photoCover="../../../assets/placeholder.png"
      cardTitle="Title 1"
    ></app-small-card>
    <app-small-card
      photoCover="../../../assets/placeholder.png"
      cardTitle="Title 2"
    ></app-small-card>
    <app-small-card
      photoCover="../../../assets/placeholder.png"
      cardTitle="Title 3"
    ></app-small-card>
  </div>
</div>
